* {
  transition: all 0.3s ease 0s;
}
body::-webkit-scrollbar {
  display:none;
  /*  优秀！！ */
  /* overflow-y: hidden; 我要的是滚动条消失，但是可以滚动! */
}

header {
  width: 100%;
  height: 48px;
  background-color: black;
  display: inline-block;
  text-align: center;
}

a {
  text-decoration: none;
}

a:hover {
  color: white;
}

/* 导航栏变化 */
nav ul {
  list-style: none;
}


nav ul li:hover{
  background-color: black;
}


/* 低尺寸设备会向上影响高尺寸设备 */
@media (min-width:320px) {
  #header-device {
    display: inline-block;
    float: left;
    width: 80%;
    height: 48px;
    line-height: 48px;    /* span中的文字垂直居中 */
    text-align: center;
  }

  #header-device span{
    color: white;
    font-size: 100%;
  }

  /* 点击折叠菜单 */
  #nav-min-device {
    display: inline-block;
    float:right;
    width: 48px;
    height: 48px;
    text-align: center;
    align-items: center;
  }

  #nav-min-device:active{
    background-color: grey;
  }

  #nav-min-device img {
    width: 18px;
    height: 18px;
    margin-top: 15px;
  }

  #nav-small {
    /* display: inline-block; */
    display: none;
    background-color: grey;
    width: 100%;
    height: 96px;
  }

  #nav-small ul {
    width: 100%;
    /* text-align: center; */
  }

  #nav-small ul li {
    width: 100%;
    height: 32px;
    line-height: 32px;
    margin: 0;          /* 重点： 删除li之间的间距！*/
  }



  #nav-small ul li a{
    width: 100%;
    height: 100%;
    line-height: 100%;
    text-align: center;
    color: white;
  }

  #nav-small img {
    width: 32px;
    height: 32px;
  }

  /* 调整li中的图片和文字*/
  .nav-item-img{
    display: inline-block;
    float: left;
    width: 32px;
    height: 32px;
  }

  .nav-item-img img {
    width: 32px;
    height: 32px;
  }

  .nav-item-label {
    display: inline-block;
    height: 100%;
    line-height: 100%;
    margin-left: 5px;
  }

  #nav-large {
    display: none;
  }

  /* 内容框 */
  .s_container {
    margin-top: 0.5em;
    width: 100%;
    text-align: center;
  }

  .col-content {
    margin-top: 1.5em;
  }

  .col-content:first-child{
    margin-top: 0;
  }
}

@media (min-width:550px) {

  #header-device {
    width: 100%;
  }

  #nav-min-device {
    display: none;
  }

  #nav-small {
    display: none;
  }

  #nav-large {
    display: table;
    width: 100%;
    height: 32px;
    margin: 0 auto;
    background-color: grey;
  }

  #nav-large ul {
    display: table-row;
    list-style: none;
    width: 100%;
  }

  #nav-large ul li {
    display: table-cell;
    width: 30%;
    line-height: 32px;
  }

  #nav-large ul li a{
    width: 100%;
    height: 100%;
    line-height: 100%;
    text-align: center;
    color: white;
  }

  /* 内容框 */
  .s_container {
    margin-top: 2em;
    width: 100%;
    text-align: center;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 95%;
  }
}

footer {
  width: 100%;
}


.col-content {
  text-align: center;
  display: block;
}

.content {
  display: block;
  margin: 0 auto;
  width: 95%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(51, 51, 51, 0.65);
  background-color: rgba(51, 51, 51, 0.5);
  background-image:
    /* linear-gradient(white 2px, transparent 0), */
    /* linear-gradient(90deg, white 2px, transparent 0), */
    linear-gradient(hsla(0, 0%, 100%, .3) 1px, transparent 0),
    linear-gradient(90deg, hsla(0, 0%, 100%, .3) 1px, transparent 0); /* 渐变的方向发生改变*/
  background-size: 10px 10px, 10px 10px;
  /* box-shadow
  第一个数值如果为0是左右都有，第二个数值则是上下
  正表示右下，负表示左上
  */
}

.loading-content {
  display: block;
  width: 95%;
  height: 320px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(51, 51, 51, 0.65);
  background-color: rgba(51, 51, 51, 0.5);
}
/*
  background-image: url() 默认的文件夹位置在css文件夹，而不是根目录
  linear-gradient 渐变的过程(color 开始点, transparent )
  backgrund-size 指的是背景图片的大小，默认是repeat
  现在是多个渐变加和的过程
*/

.content-userimg {
  float: left;
  position: relative;
  left: 13px;
  top: 13px;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background-color: rgba(216, 216, 216, 100)
}

.user-img {
  width: 100%;
  height: 100%;
}

/* content 卡牌中的头部信息 */
.content-header {
  display: block;
  width: 100%;
  height: 48px;
  background-color: rgba(241, 240, 240, 100);
  border-radius: 5px 5px 0px 0px;
 }

.header-paragraph {
  /* display: block; */
  position:relative;
  float:left;
  left: 20px; /* 48px + 13px*/
  top: 4px;
  width: 59.375%;
  height: auto;
  font-size: 10px;
  text-align: left;
}

.header-user {
  font-size: 14px;
  font-weight: bold;
}

.header-date {
  position: relative;
  float:right;
  right: 3%;
  top:3%;
}

.publish-date {
  font-size: 10px;
  font-weight: bold;
}

/* content 卡片中的图片 */
.content-image {
  display: block;
  width: 100%;
  height: auto;
  background-color: rgba(241, 240, 240, 100);
}

.main-img {
  display: block;
  width: 97%;
  height: 97%;
  border-radius: 5%;
  margin: 0 auto;
}

.content-footer {
  display: block;
  width: 100%;
  height: auto;
  min-height: 105px;
  background-color: rgba(241, 240, 240, 100);
  border-radius: 0px 0px 5px 5px;
}

/* 固定图标的工作搞定 */
.spin {
  float: right;
  position: relative;
  width: 40px;
  height: 64px; /* 40 + 1 + 23*/
}

.spin-love {
  right: 3%;
  top: -25px;
}

.spin-comment {
  right: 6%;
  top: -25px;
}

.spin-half-square {
  width: 40px;
  height: 40px;
  background-color: black;
  border-radius: 100% 100% 0 0;
}

.inner-circle {
  width: 30px;
  height: 30px;
  border: 1px solid white;
  border-radius: 100%;
  margin: auto;
  position: relative;
  top: 5px;
}

.inner-img {
    width: 16px;
    height: 16px;
    position: relative;
    top: 7px;
    -webkit-filter: hue-rotate(0deg);
}

.spin-bottom-square {
  width: 40px;
  margin-top: 1px;
  height: 23px;
  background-color: black;
  border-radius: 0 0 5px 5px;
  color: white;
  line-height: 23px;
}

.spin-bottom-square span {
}
/* 内容 */
.content-text {
  display: block;
  width: 100%;
  height: auto;
  min-height: 40px;
  background-color: rgba(241, 240, 240, 100);
  margin-top: 0;
}

.main-text {
  width: 95%;
  margin-left: 5%;
  padding-top: 40px;
  text-align: left;
}

/* TODO: 需要对block定一个大小才可以  */
